---
import myImage from '../../assets/hero/image.png';
---

<section
  class="bg-primary_bg"
>
<div class="text-center h-[421px] flex items-center justify-center">
  <div class="z-[12] flex justify-center my-32 h-[130%] mx-20">
    <img src={myImage.src}  class=""/>
  </div>
</div>
<div class="text-primary h-[280px] bg-[var(--secondary-color)] dark:bg-[var(--secondary-bg-color)] flex justify-center items-center gap-2 font-semibold">
  <div class="flex items-center justify-center gap-8 my-8">
    <div class="flex justify-center items-center gap-2 font-semibold">
      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_343_9144)">
        <path opacity="0.2" d="M17 22L12 27L3 24L11 16L17 22Z" fill="#03343C"/>
        <path d="M31.7081 13.2926C31.6153 13.1996 31.505 13.1258 31.3836 13.0755C31.2622 13.0252 31.1321 12.9993 31.0006 12.9993C30.8692 12.9993 30.7391 13.0252 30.6177 13.0755C30.4963 13.1258 30.386 13.1996 30.2931 13.2926L24.0006 19.5863L13.7081 9.29257L13.4144 9.00007L19.7081 2.70757C19.8011 2.61466 19.8748 2.50436 19.925 2.38296C19.9753 2.26157 20.0012 2.13146 20.0012 2.00007C20.0012 1.86867 19.9753 1.73856 19.925 1.61717C19.8748 1.49578 19.8011 1.38548 19.7081 1.29257C19.6152 1.19966 19.5049 1.12596 19.3835 1.07567C19.2621 1.02539 19.132 0.999512 19.0006 0.999512C18.8693 0.999512 18.7391 1.02539 18.6177 1.07567C18.4964 1.12596 18.3861 1.19966 18.2931 1.29257L12.0006 7.58632C11.6981 7.88895 11.5005 8.28066 11.4371 8.70388C11.3736 9.1271 11.4476 9.55951 11.6481 9.93757L9.00065 12.5863C8.62586 12.9614 8.41532 13.4699 8.41532 14.0001C8.41532 14.5303 8.62586 15.0388 9.00065 15.4138L9.5869 16.0001L2.29315 23.2926C2.17251 23.4131 2.08471 23.5625 2.03809 23.7266C1.99147 23.8906 1.98758 24.0639 2.02679 24.2298C2.06599 24.3958 2.147 24.549 2.2621 24.6748C2.3772 24.8007 2.52257 24.895 2.6844 24.9488L11.6844 27.9488C11.7863 27.983 11.8931 28.0004 12.0006 28.0001C12.132 28.0002 12.2621 27.9744 12.3835 27.9242C12.5049 27.874 12.6152 27.8004 12.7081 27.7076L17.0006 23.4138L17.5869 24.0001C17.9619 24.3749 18.4704 24.5854 19.0006 24.5854C19.5309 24.5854 20.0394 24.3749 20.4144 24.0001L23.0619 21.3526C23.4401 21.5534 23.8728 21.6275 24.2962 21.5641C24.7197 21.5006 25.1117 21.3029 25.4144 21.0001L31.7081 14.7076C31.8011 14.6147 31.8749 14.5044 31.9252 14.383C31.9755 14.2616 32.0014 14.1315 32.0014 14.0001C32.0014 13.8687 31.9755 13.7385 31.9252 13.6171C31.8749 13.4957 31.8011 13.3854 31.7081 13.2926ZM11.7306 25.8563L4.85565 23.5626L11.0006 17.4138L15.5869 22.0001L11.7306 25.8563ZM19.0006 22.5863L17.7081 21.2926L11.7081 15.2926L10.4144 14.0001L13.0006 11.4138L21.5869 20.0001L19.0006 22.5863Z" class="fill-primary"/>
        </g>
        <defs>
        <clipPath id="clip0_343_9144">
        <rect width="32" height="32" fill="white"/>
        </clipPath>
        </defs>
        </svg>
        <h3>Draft</h3>      
    </div>
    <div class="flex justify-center items-center gap-2 font-semibold">
      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_343_9149)">
        <path opacity="0.2" d="M21 6V14H18C16.9391 14 15.9217 14.4214 15.1716 15.1716C14.4214 15.9217 14 16.9391 14 18V21H6V18C6 14.8174 7.26428 11.7652 9.51472 9.51472C11.7652 7.26428 14.8174 6 18 6H21Z" fill="#D9480F"/>
        <path d="M29 13H26V7H29C29.2652 7 29.5196 6.89464 29.7071 6.70711C29.8946 6.51957 30 6.26522 30 6C30 5.73478 29.8946 5.48043 29.7071 5.29289C29.5196 5.10536 29.2652 5 29 5H25.7288C25.5535 4.69645 25.3015 4.44428 24.9981 4.26877C24.6947 4.09327 24.3505 4.00058 24 4H22C21.6495 4.00058 21.3053 4.09327 21.0019 4.26877C20.6985 4.44428 20.4465 4.69645 20.2712 5H18C14.5533 5.00364 11.2488 6.37445 8.81163 8.81163C6.37445 11.2488 5.00364 14.5533 5 18V20.27C4.69626 20.4454 4.44398 20.6975 4.26846 21.0012C4.09294 21.3048 4.00036 21.6493 4 22V24C4.00036 24.3507 4.09294 24.6952 4.26846 24.9988C4.44398 25.3025 4.69626 25.5546 5 25.73V29C5 29.2652 5.10536 29.5196 5.29289 29.7071C5.48043 29.8946 5.73478 30 6 30C6.26522 30 6.51957 29.8946 6.70711 29.7071C6.89464 29.5196 7 29.2652 7 29V26H13V29C13 29.2652 13.1054 29.5196 13.2929 29.7071C13.4804 29.8946 13.7348 30 14 30C14.2652 30 14.5196 29.8946 14.7071 29.7071C14.8946 29.5196 15 29.2652 15 29V25.73C15.3037 25.5546 15.556 25.3025 15.7315 24.9988C15.9071 24.6952 15.9996 24.3507 16 24V22C15.9996 21.6493 15.9071 21.3048 15.7315 21.0012C15.556 20.6975 15.3037 20.4454 15 20.27V18C15 17.2044 15.3161 16.4413 15.8787 15.8787C16.4413 15.3161 17.2044 15 18 15H20.2712C20.4465 15.3036 20.6985 15.5557 21.0019 15.7312C21.3053 15.9067 21.6495 15.9994 22 16H24C24.3505 15.9994 24.6947 15.9067 24.9981 15.7312C25.3015 15.5557 25.5535 15.3036 25.7288 15H29C29.2652 15 29.5196 14.8946 29.7071 14.7071C29.8946 14.5196 30 14.2652 30 14C30 13.7348 29.8946 13.4804 29.7071 13.2929C29.5196 13.1054 29.2652 13 29 13ZM14 22V24H6V22H14ZM13 18V20H7V18C7.00331 15.0836 8.1633 12.2877 10.2255 10.2255C12.2877 8.1633 15.0836 7.00331 18 7H20V13H18C16.6739 13 15.4021 13.5268 14.4645 14.4645C13.5268 15.4021 13 16.6739 13 18ZM22 14V6H24V13.975C24 13.9838 24 13.9913 24 14H22Z" class="fill-primary"/>
        </g>
        <defs>
        <clipPath id="clip0_343_9149">
        <rect width="32" height="32" fill="white"/>
        </clipPath>
        </defs>
        </svg>      
        <h3>Review</h3>      
    </div>
    <div class="flex justify-center items-center gap-2 font-semibold">
      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_343_9155)">
        <path opacity="0.2" d="M21 6V14H18C16.9391 14 15.9217 14.4214 15.1716 15.1716C14.4214 15.9217 14 16.9391 14 18V21H6V18C6 14.8174 7.26428 11.7652 9.51472 9.51472C11.7652 7.26428 14.8174 6 18 6H21Z" fill="black"/>
        <path d="M29 13H26V7H29C29.2652 7 29.5196 6.89464 29.7071 6.70711C29.8946 6.51957 30 6.26522 30 6C30 5.73478 29.8946 5.48043 29.7071 5.29289C29.5196 5.10536 29.2652 5 29 5H25.7288C25.5535 4.69645 25.3015 4.44428 24.9981 4.26877C24.6947 4.09327 24.3505 4.00058 24 4H22C21.6495 4.00058 21.3053 4.09327 21.0019 4.26877C20.6985 4.44428 20.4465 4.69645 20.2712 5H18C14.5533 5.00364 11.2488 6.37445 8.81163 8.81163C6.37445 11.2488 5.00364 14.5533 5 18V20.27C4.69626 20.4454 4.44398 20.6975 4.26846 21.0012C4.09294 21.3048 4.00036 21.6493 4 22V24C4.00036 24.3507 4.09294 24.6952 4.26846 24.9988C4.44398 25.3025 4.69626 25.5546 5 25.73V29C5 29.2652 5.10536 29.5196 5.29289 29.7071C5.48043 29.8946 5.73478 30 6 30C6.26522 30 6.51957 29.8946 6.70711 29.7071C6.89464 29.5196 7 29.2652 7 29V26H13V29C13 29.2652 13.1054 29.5196 13.2929 29.7071C13.4804 29.8946 13.7348 30 14 30C14.2652 30 14.5196 29.8946 14.7071 29.7071C14.8946 29.5196 15 29.2652 15 29V25.73C15.3037 25.5546 15.556 25.3025 15.7315 24.9988C15.9071 24.6952 15.9996 24.3507 16 24V22C15.9996 21.6493 15.9071 21.3048 15.7315 21.0012C15.556 20.6975 15.3037 20.4454 15 20.27V18C15 17.2044 15.3161 16.4413 15.8787 15.8787C16.4413 15.3161 17.2044 15 18 15H20.2712C20.4465 15.3036 20.6985 15.5557 21.0019 15.7312C21.3053 15.9067 21.6495 15.9994 22 16H24C24.3505 15.9994 24.6947 15.9067 24.9981 15.7312C25.3015 15.5557 25.5535 15.3036 25.7288 15H29C29.2652 15 29.5196 14.8946 29.7071 14.7071C29.8946 14.5196 30 14.2652 30 14C30 13.7348 29.8946 13.4804 29.7071 13.2929C29.5196 13.1054 29.2652 13 29 13ZM14 22V24H6V22H14ZM13 18V20H7V18C7.00331 15.0836 8.1633 12.2877 10.2255 10.2255C12.2877 8.1633 15.0836 7.00331 18 7H20V13H18C16.6739 13 15.4021 13.5268 14.4645 14.4645C13.5268 15.4021 13 16.6739 13 18ZM22 14V6H24V13.975C24 13.9838 24 13.9913 24 14H22Z" class="fill-primary"/>
        </g>
        <defs>
        <clipPath id="clip0_343_9155">
        <rect width="32" height="32" fill="white"/>
        </clipPath>
        </defs>
        </svg>        
        <h3>Automate</h3>      
    </div>
    <div class="flex justify-center items-center gap-2 font-semibold">
      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_343_9158)">
        <path opacity="0.2" d="M8.42566 17.82C4.46316 16.19 5.67566 4.00875 9.74941 4C13.9769 4.00625 11.4994 11.2825 8.42566 17.82Z" fill="black"/>
        <path d="M28.9996 21H7.98213C8.31463 20.345 8.64838 19.6712 8.98213 18.9862C10.8496 19.1925 13.0546 17.8888 15.5646 15.0938C16.1896 16.7762 17.3709 18.96 19.3871 19C20.5234 19.0225 21.6509 18.35 22.8146 16.9538C23.6634 17.9688 25.4121 19 28.9996 19C29.2648 19 29.5192 18.8946 29.7067 18.7071C29.8943 18.5196 29.9996 18.2652 29.9996 18C29.9996 17.7348 29.8943 17.4804 29.7067 17.2929C29.5192 17.1054 29.2648 17 28.9996 17C25.1959 17 24.0709 15.6938 23.9996 14.9862C24.0109 14.7716 23.9497 14.5595 23.826 14.3838C23.7022 14.2081 23.523 14.0791 23.3171 14.0175C23.1032 13.9532 22.8741 13.9611 22.6652 14.04C22.4562 14.1188 22.279 14.2642 22.1609 14.4537C20.6534 16.7712 19.7496 17.0075 19.4221 17C18.3896 16.98 17.3396 14.56 16.9796 12.8225C16.9412 12.6364 16.8506 12.4651 16.7183 12.3287C16.5861 12.1922 16.4177 12.0963 16.2329 12.0521C16.0481 12.0079 15.8545 12.0173 15.6748 12.0791C15.4952 12.1409 15.3368 12.2527 15.2184 12.4012C12.6921 15.5688 10.9996 16.635 9.94588 16.9112C11.0071 14.5525 11.7996 12.4812 12.3071 10.7375C13.1596 7.8075 13.2221 5.75875 12.4959 4.475C12.1209 3.8025 11.3284 3 9.73838 3C7.73088 3 6.14713 4.8975 5.39213 8.20625C4.94338 10.17 4.86963 12.3575 5.18963 14.2063C5.50963 16.055 6.17338 17.4 7.13838 18.1987C6.67213 19.1637 6.19713 20.1063 5.73463 21H2.99963C2.73441 21 2.48006 21.1054 2.29252 21.2929C2.10499 21.4804 1.99963 21.7348 1.99963 22C1.99963 22.2652 2.10499 22.5196 2.29252 22.7071C2.48006 22.8946 2.73441 23 2.99963 23H4.67588C3.26088 25.625 2.16088 27.455 2.14338 27.485C2.07209 27.5976 2.02402 27.7233 2.00201 27.8548C1.98 27.9862 1.98449 28.1207 2.01521 28.2504C2.04593 28.3801 2.10227 28.5024 2.18091 28.61C2.25955 28.7176 2.35891 28.8084 2.47314 28.877C2.58738 28.9457 2.71418 28.9908 2.8461 29.0098C2.97803 29.0287 3.11241 29.0211 3.24135 28.9874C3.37029 28.9536 3.49119 28.8945 3.59693 28.8134C3.70268 28.7322 3.79115 28.6308 3.85713 28.515C3.87588 28.4825 5.26588 26.1663 6.94463 23H28.9996C29.2648 23 29.5192 22.8946 29.7067 22.7071C29.8943 22.5196 29.9996 22.2652 29.9996 22C29.9996 21.7348 29.8943 21.4804 29.7067 21.2929C29.5192 21.1054 29.2648 21 28.9996 21ZM7.34213 8.65125C7.83963 6.4675 8.80338 5 9.73838 5C10.4046 5 10.6259 5.2325 10.7546 5.45875C11.1296 6.125 11.5696 8.4825 8.04713 16.2575C7.01463 14.8475 6.66338 11.625 7.34213 8.65125Z" class="fill-primary"/>
        </g>
        <defs>
        <clipPath id="clip0_343_9158">
        <rect width="32" height="32" fill="white"/>
        </clipPath>
        </defs>
        </svg>      
        <h3>Sign</h3>      
    </div>
    <div class="flex justify-center items-center gap-2 font-semibold">
      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_343_9161)">
        <path d="M12.0008 4.6875V13.6875L4.20082 18.1875C3.68013 15.3771 4.17971 12.473 5.60964 9.99816C7.03958 7.52328 9.30594 5.64007 12.0008 4.6875Z" fill="black"/>
        <path d="M12.5002 14.5538C12.6522 14.466 12.7785 14.3397 12.8663 14.1876C12.954 14.0356 13.0002 13.8631 13.0002 13.6875V4.6875C12.9993 4.52807 12.9603 4.37116 12.8864 4.22986C12.8126 4.08857 12.706 3.96698 12.5756 3.87524C12.4452 3.7835 12.2948 3.72426 12.1368 3.70248C11.9789 3.68069 11.818 3.69699 11.6677 3.75C8.74891 4.78302 6.29433 6.8233 4.7452 9.50409C3.19608 12.1849 2.65401 15.3303 3.21643 18.375C3.24559 18.5324 3.31212 18.6806 3.41044 18.807C3.50876 18.9333 3.63599 19.0343 3.78143 19.1012C3.9125 19.1625 4.05549 19.1941 4.20018 19.1938C4.3757 19.1938 4.54814 19.1477 4.70018 19.06L12.5002 14.5538ZM11.0002 6.2025V13.11L5.01518 16.5637C5.00018 16.375 5.00018 16.185 5.00018 16C5.00196 13.973 5.56305 11.9857 6.62168 10.2571C7.6803 8.5284 9.19541 7.12539 11.0002 6.2025ZM16.0002 3C15.735 3 15.4806 3.10536 15.2931 3.29289C15.1055 3.48043 15.0002 3.73478 15.0002 4V15.4775L5.14893 21.2162C5.03462 21.2825 4.93457 21.3708 4.85457 21.4759C4.77456 21.5811 4.7162 21.7011 4.68284 21.8289C4.64948 21.9568 4.64179 22.09 4.66022 22.2208C4.67864 22.3517 4.72281 22.4776 4.79018 22.5912C5.94482 24.5541 7.59482 26.1793 9.575 27.304C11.5552 28.4286 13.7961 29.0134 16.0733 28.9998C18.3506 28.9861 20.5843 28.3745 22.5508 27.2261C24.5174 26.0777 26.1478 24.4329 27.2788 22.4563C28.4098 20.4797 29.0017 18.2407 28.9953 15.9634C28.9889 13.6861 28.3844 11.4505 27.2423 9.48029C26.1002 7.51009 24.4606 5.87448 22.4876 4.73719C20.5146 3.5999 18.2775 3.00085 16.0002 3ZM16.0002 27C14.2545 26.9953 12.5347 26.5774 10.9815 25.7805C9.42832 24.9836 8.08585 23.8303 7.06393 22.415L16.5039 16.915C16.6558 16.8273 16.7819 16.7012 16.8697 16.5494C16.9575 16.3976 17.0038 16.2254 17.0039 16.05V5.045C19.8245 5.3009 22.4376 6.6348 24.2993 8.769C26.161 10.9032 27.1279 13.6732 26.9985 16.5024C26.8692 19.3315 25.6536 22.0018 23.6049 23.9572C21.5562 25.9126 18.8323 27.0025 16.0002 27Z" class="fill-primary"/>
        </g>
        <defs>
        <clipPath id="clip0_343_9161">
        <rect width="32" height="32" fill="white"/>
        </clipPath>
        </defs>
        </svg>      
        <h3>Analyse</h3>      
    </div>
  </div>
</div>
<div class="text-center h-[421px] flex items-center justify-center">
  <div>
    <h2 class="sec_heading mb-2">Own your Document production Lifecycle</h2>
    <p class="text-xl text-paragraph_primary w-[724px] text-center mx-auto">Collaborate seamlessly, automate workflows, and handle every stage of the contract lifecycle with ease—faster and more efficiently than ever before.</p>
  </div>
</div>
<div class="text-center h-[421px] flex items-center justify-center bg-[var(--secondary-color)] dark:bg-[var(--secondary-bg-color)]">
  <div>
    <h2 class="sec_heading mb-10">See what Wraft can do for you. Create Documents of</h2>
    <div class="features text-xl text-paragraph_primary text-center mx-auto flex gap-2 flex-wrap px-32 justify-center">
      <h3>Employee Offer Letter</h3>
      <h3>Employee Offer Letter</h3>
      <h3>Publishing Deal for Song Writers</h3>
      <h3>Contractor Agreement</h3>
      <h3>Rental Agreement</h3>
      <h3>Commercial R&D Agreement</h3>
      <h3>Branded Pages</h3>
      <h3>Branded Pages</h3>
      <h3>Branded Pages</h3>
      <h3>Branded Pages</h3>
    </div>
  </div>
</div>
</section>
