---
import myImage from '../../assets/hero/image.png';
import FeatureIcon from '../Feature/featureIcon.astro';
---

<section
  class="bg-primary_bg"
>
<div class="text-primary relative text-center h-[701px] flex flex-col items-center justify-center">
  <div class="z-[12] flex justify-center pts-1 mt-[-50px] min-h-[600px] mx-20">
    <img src={myImage.src}  class=""/>
  </div>
  <FeatureIcon />
  <div class="bottom-0 absolute h-[280px] w-full bg-[var(--secondary-color)] dark:bg-[var(--secondary-bg-color)] fslex jusstify-center istems-end font-semibold">
  </div>
</div>
<div class="text-center h-[421px] flex items-center justify-center">
  <div>
    <h2 class="sec_heading mb-2">Own your Document production Lifecycle</h2>
    <p class="text-xl text-paragraph_primary w-[724px] text-center mx-auto">Collaborate seamlessly, automate workflows, and handle every stage of the contract lifecycle with ease—faster and more efficiently than ever before.</p>
  </div>
</div>
<div class="text-center h-[421px] flex items-center justify-center bg-[var(--secondary-color)] dark:bg-[var(--secondary-bg-color)]">
  <div>
    <h2 class="sec_heading mb-10">See what Wraft can do for you. Create Documents of</h2>
    <div class="features text-xl text-paragraph_primary text-center mx-auto flex gap-2 flex-wrap px-32 justify-center">
      <h3>Employee Offer Letter</h3>
      <h3>Employee Offer Letter</h3>
      <h3>Publishing Deal for Song Writers</h3>
      <h3>Contractor Agreement</h3>
      <h3>Rental Agreement</h3>
      <h3>Commercial R&D Agreement</h3>
      <h3>Branded Pages</h3>
      <h3>Branded Pages</h3>
      <h3>Branded Pages</h3>
      <h3>Branded Pages</h3>
    </div>
  </div>
</div>
</section>
