---
const {Icons,Prop} = Astro.props;

---
<div class="bg-primary_bg flex-shrink-0 w-[calc((100%-32*3px)/4)] h-[338px] p-6 shadow-lg rounded-lg text-start flex flex-col">
    <div class="h-[120px] relative bottom-0">
       <Icons class="absolute bottom-4" />
    </div>
    <h2 class="text-lg font-semibold mb-2 text-primary">{Prop.heading}</h2>
    <p class="text-sm font-light text-primary opacity-80">{Prop.desc}
    </p>
</div>