---
import ThemeMode from './ThemeMode.astro';
import Logo from './Logo.astro';
---

<footer class="">
  <div class="h-[386px] ha-[586px] bg-[#012126]">
    <div class="mx-40 flex pt-20">
      <div class="mr-28">
        <Logo class="fill-[#F3FCF1]"/>
        <div class="mt-4">
          <ThemeMode/>
        </div>
      </div>
      <div class="flex gap-28">
        <div class="footer">
          <h4>About us</h4>
          <div class="links">
            <a>Home</a>
            <a>How it works</a>
            <a>Tour</a>
            <a>Help</a>
          </div>
        </div>
        <div class="footer">
          <h4>Features</h4>
          <div class="links">
            <a>CLM</a>
            <a>Document Generation</a>
            <a>Pipelines</a>
            <a>Templates</a>
            <a>Signing</a>
            <a>Archival</a>
          </div>
        </div>
        <div class="footer">
          <h4>Company</h4>
          <div class="links">
            <a>About</a>
            <a>Careers</a>
            <a>Contact</a>
          </div>
        </div>
        <div class="footer">
          <h4>legals</h4>
          <div class="links">
            <a>Contact us</a>
            <a>Term of Use</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
