---

---

<footer class="bg-white mx-auto p-5 py-12">
  <!-- Top section -->
  <div
    class="flex flex-col md:flex-row justify-between md:items-center space-y-6 md:space-y-0"
  >
    <p class="text-2xl">_wraft</p>

    <div
      class="flex flex-wrap justify-center md:justify-start space-x-4 md:space-x-6"
    >
      <a
        href="#"
        class="text-secondary-gray-600 hover:text-primary-green-800 text-sm"
        >Overview</a
      >
      <a
        href="#"
        class="text-secondary-gray-600 hover:text-primary-green-800 text-sm"
        >Features</a
      >
      <a
        href="#"
        class="text-secondary-gray-600 hover:text-primary-green-800 text-sm"
        >Pricing</a
      >
      <a
        href="#"
        class="text-secondary-gray-600 hover:text-primary-green-800 text-sm"
        >Careers</a
      >
      <a
        href="#"
        class="text-secondary-gray-600 hover:text-primary-green-800 text-sm"
        >Help</a
      >
      <a
        href="#"
        class="text-secondary-gray-600 hover:text-primary-green-800 text-sm"
        >Privacy</a
      >
    </div>
  </div>

  <div
    class="flex flex-col md:flex-row justify-between items-center py-12 space-y-6 md:space-y-0"
  >
    <p class="text-secondary-gray-600 text-sm text-center md:text-left">
      &copy; 2024 Functionary Labs Pvt Ltd. All Rights Reserved.
    </p>

    <div
      class="flex flex-wrap justify-center md:justify-end space-x-4 md:space-x-6"
    >
      <a
        href="#"
        class="text-secondary-gray-600 hover:text-primary-green-800 text-sm"
        >Terms</a
      >
      <a
        href="#"
        class="text-secondary-gray-600 hover:text-primary-green-800 text-sm"
        >Privacy</a
      >
      <a
        href="#"
        class="text-secondary-gray-600 hover:text-primary-green-800 text-sm"
        >Cookies</a
      >
    </div>
  </div>
</footer>
