---

---

<header
  class="flex flex-col md:flex-row justify-between items-center p-5 shadow-md bg-secondary-white-200 mx-auto"
>
  <div class="text-2xl font-bold mb-4 md:mb-0">_Brand</div>

  <nav
    class="flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-6 items-center"
  >
    <a href="#" class="font-bold py-4 text-lg">Features</a>
    <a href="#" class="font-bold py-4 text-lg">Use Case</a>
    <a href="#" class="font-bold py-4 text-lg">Login</a>
    <button
      class="text-lg bg-green-500 text-white py-3 px-5 rounded-xl font-bold border border-primary-green-600 hover:text-primary-green-800"
    >
      Request Invite
    </button>
  </nav>
</header>
