---
const { class: svgClass,} = Astro.props;
---
<div class=`z-[-1] ${svgClass}`>
    <svg width="728" height="804" viewBox="0 0 728 804" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M373.753 21.0402L698.94 138.608C698.94 138.608 584.291 201.978 605.97 420.438C627.649 638.897 453.595 721.862 453.595 721.862L131.743 550.513C131.743 550.513 277.864 466.298 268.692 271.602C259.52 76.9059 373.753 21.0402 373.753 21.0402Z" fill="url(#paint0_linear_305_5298)"/>
        <path d="M261.839 77.9343L587.026 195.502C587.026 195.502 472.377 258.872 494.056 477.332C515.735 695.791 341.681 778.756 341.681 778.756L19.8285 607.407C19.8285 607.407 165.95 523.192 156.778 328.496C147.606 133.8 261.839 77.9343 261.839 77.9343Z" fill="url(#paint1_linear_305_5298)"/>
        <defs>
        <linearGradient id="paint0_linear_305_5298" x1="643.288" y1="124.016" x2="439.003" y2="504.236" gradientUnits="userSpaceOnUse">
        <stop offset="0.0184685" stop-color="#54F4A7" stop-opacity="0.1"/>
        <stop offset="0.78" stop-color="#03343C" stop-opacity="0.5"/>
        <stop offset="1" stop-color="#54F4A7" stop-opacity="0.3"/>
        </linearGradient>
        <linearGradient id="paint1_linear_305_5298" x1="531.374" y1="180.91" x2="327.089" y2="561.13" gradientUnits="userSpaceOnUse">
        <stop offset="0.0184685" stop-color="#54F4A7" stop-opacity="0.1"/>
        <stop offset="0.78" stop-color="#03343C" stop-opacity="0.5"/>
        <stop offset="1" stop-color="#54F4A7" stop-opacity="0.3"/>
        </linearGradient>
        </defs>
        </svg>
        

</div>
    