---
const { class: svgClass,} = Astro.props;
---
<div class=`z-[-1] ${svgClass}`>
    <svg width="359" height="767" viewBox="0 0 359 767" fill="none" xmlns="http://www.w3.org/2000/svg">
        <mask id="mask0_305_5268" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="359" height="767">
        <rect x="-0.5" y="0.5" width="358" height="766" transform="matrix(-1 0 0 1 358 0)" fill="#D9D9D9" stroke="url(#paint0_linear_305_5268)"/>
        </mask>
        <g mask="url(#mask0_305_5268)">
        <path class="fill-[var(--secondary-color)] dark:fill-[var(--secondary-bg-color)]" d="M208.659 418.582C208.737 418.812 208.818 419.075 208.9 419.37C209.269 420.704 209.645 422.702 209.69 425.389C209.781 430.766 208.551 438.886 203.329 449.971C192.891 472.128 166.487 506.158 102.695 553.861C70.8519 577.672 52.9159 599.147 43.893 617.939C34.8761 636.718 34.7509 652.836 38.5645 665.981C42.3821 679.139 50.1578 689.354 56.9939 696.287C60.4104 699.751 63.5874 702.391 65.9087 704.164C67.0691 705.05 68.0153 705.719 68.6699 706.166C68.8755 706.306 69.0524 706.424 69.1981 706.521C69.2843 706.578 69.3596 706.627 69.4235 706.668C69.5095 706.724 69.5747 706.766 69.6182 706.793L69.6599 706.819L295.581 814.674C295.061 814.095 294.442 813.391 293.74 812.57C291.512 809.959 288.459 806.155 285.153 801.38C278.543 791.834 270.914 778.388 266.865 762.815C262.815 747.235 262.346 729.514 270.081 711.45C277.815 693.387 293.727 675.036 322.336 658.15C379.36 624.493 407.651 591.55 421.69 567.058C428.71 554.812 432.169 544.673 433.873 537.606C434.726 534.073 435.14 531.307 435.34 529.429C435.441 528.49 435.488 527.773 435.51 527.293C435.517 527.13 435.522 526.995 435.525 526.887L208.659 418.582Z" stroke="url(#paint1_linear_305_5268)"/>
        <path class="fill-[var(--secondary-color)] dark:fill-[var(--secondary-bg-color)]" d="M202.022 533.658C202.078 533.422 202.147 533.156 202.233 532.862C202.623 531.533 203.356 529.638 204.734 527.33C207.491 522.713 212.817 516.461 223.097 509.794C243.647 496.466 284.021 481.464 363.376 474.552C402.988 471.101 429.549 462.306 447.122 451.093C464.683 439.887 473.285 426.256 476.973 413.075C480.665 399.881 479.441 387.101 477.286 377.607C476.209 372.862 474.901 368.944 473.862 366.214C473.343 364.849 472.892 363.782 472.571 363.057C472.47 362.83 472.382 362.636 472.309 362.477C472.266 362.383 472.228 362.302 472.196 362.233C472.152 362.14 472.118 362.071 472.096 362.024L472.074 361.98L336.936 151.242C337.073 152.008 337.228 152.932 337.391 154C337.908 157.394 338.499 162.235 338.791 168.035C339.376 179.631 338.772 195.08 334.004 210.448C329.234 225.823 320.291 241.129 304.196 252.403C288.103 263.676 264.909 270.883 231.696 270.153C165.496 268.698 124.089 281.781 99.2501 295.194C86.8294 301.901 78.5456 308.694 73.3723 313.8C70.7854 316.354 68.9758 318.486 67.8154 319.976C67.2351 320.721 66.8171 321.306 66.5454 321.702C66.4533 321.836 66.378 321.949 66.3188 322.039L202.022 533.658Z" stroke="url(#paint2_linear_305_5268)"/>
        <path class="fill-[var(--secondary-color)] dark:fill-[var(--secondary-bg-color)]" d="M312.555 342.597C312.491 342.362 312.424 342.096 312.359 341.796C312.064 340.444 311.8 338.429 311.903 335.743C312.111 330.37 313.79 322.33 319.619 311.552C331.271 290.008 359.523 257.496 425.864 213.408C458.98 191.4 478.08 170.955 488.132 152.693C498.178 134.443 499.197 118.357 496.119 105.02C493.038 91.6701 485.841 81.0393 479.4 73.7382C476.181 70.0892 473.156 67.2771 470.937 65.3783C469.827 64.4291 468.92 63.7085 468.291 63.2262C468.093 63.0747 467.923 62.9467 467.783 62.8425C467.7 62.7809 467.628 62.7276 467.566 62.6827C467.483 62.6223 467.421 62.5771 467.379 62.5472L467.339 62.5187L247.752 -57.7089C248.239 -57.1022 248.819 -56.3652 249.473 -55.5059C251.553 -52.7752 254.391 -48.8082 257.426 -43.8573C263.496 -33.9591 270.367 -20.1104 273.545 -4.33591C276.725 11.4445 276.209 29.1638 267.483 46.7711C258.758 64.3765 241.853 81.8161 212.35 97.0882C153.547 127.528 123.47 158.851 108.094 182.525C100.405 194.363 96.3885 204.295 94.2943 211.255C93.2472 214.736 92.6805 217.475 92.3758 219.339C92.2234 220.271 92.1366 220.984 92.0879 221.462C92.0714 221.624 92.0593 221.759 92.0505 221.866L312.555 342.597Z" stroke="url(#paint3_linear_305_5268)"/>
        </g>
        <defs>
        <linearGradient id="paint0_linear_305_5268" x1="-0.0055907" y1="766.995" x2="588.967" y2="491.321" gradientUnits="userSpaceOnUse">
        <stop stop-color="#4DEF8E"/>
        <stop offset="1" stop-color="#FFEB3A"/>
        </linearGradient>
        <linearGradient id="paint1_linear_305_5268" x1="302.61" y1="818.581" x2="150.968" y2="391.134" gradientUnits="userSpaceOnUse">
        <stop stop-color="#4DEF8E"/>
        <stop offset="1" stop-color="#FFEB3A"/>
        </linearGradient>
        <linearGradient id="paint2_linear_305_5268" x1="333.022" y1="144.216" x2="236.58" y2="587.393" gradientUnits="userSpaceOnUse">
        <stop stop-color="#4DEF8E"/>
        <stop offset="1" stop-color="#FFEB3A"/>
        </linearGradient>
        <linearGradient id="paint3_linear_305_5268" x1="240.951" y1="-62.0005" x2="368.634" y2="373.204" gradientUnits="userSpaceOnUse">
        <stop stop-color="#4DEF8E"/>
        <stop offset="1" stop-color="#FFEB3A"/>
        </linearGradient>
        </defs>
        </svg>

</div>
    