---
interface Props {
	title: string;
}
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css'
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<!-- <link rel="stylesheet" href="/styles/global.css" /> -->
		<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="description" content="Wraft help busines move steady and fast with Document Automation System"/>
		<meta name="keywords" content="clm,document,automation,proposals,sales,hr,contract management"/>
		<meta property="og:title" content={title}>
		<meta property="og:description" content="Wraft help busines move steady and fast with Document Automation System">
		<meta property="og:image" content="/assets/cover.png">
		<meta property="og:url" content="https://wraft.app">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-primary_bg">
		<main>
			<Header />
			<div class="absolute right-0">
				<svg width="631" height="207" viewBox="0 0 631 207" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M514.279 173.709C399.652 130.295 207.962 148.198 88.5393 168.976C55.3039 174.758 21.7325 158.26 7.62418 127.617C-17.9283 72.1178 35.9961 1.82041 96.9708 -2.07468C295.535 -14.7591 533.17 -102.689 575.581 -81.9591C640.89 -50.0364 717.24 -6.78199 715.785 65.8976L714.233 143.41C713.659 172.119 703.213 201.337 674.726 204.949C643.729 208.879 592.694 203.408 514.279 173.709Z" stroke="#54F4A7"/>
				</svg>
			</div>
			<div class="absolute top-96">
				<svg width="494" height="481" viewBox="0 0 494 481" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path opacity="0.1" d="M322.444 254.881C201.38 274.058 43.8291 384.708 -49.5495 461.998C-75.5368 483.508 -112.871 485.84 -140.323 466.234C-190.044 430.725 -178.102 342.936 -127.094 309.302C39.0145 199.773 201.713 5.52804 248.821 2.48483C321.364 -2.20151 409.114 -2.52629 443.91 61.299L481.02 129.368C494.765 154.58 500.192 185.13 477.25 202.4C452.287 221.191 405.262 241.762 322.444 254.881Z" stroke="#54F4A7"/>
					</svg>					
			</div>
			<slot/>
			<Footer/>
		</main>
	</body>
</html>
<style is:global>
	:root {
		--primary-color:#03343C;
		--secondary-color:#F3FCF1;
		--primary-bg-color:#FFFFFF;
		--secondary-bg-color:#EBF4EF;
		--primary-para-color:#576F62;
		--third-color:#BBEFD0;
		--card-color:#136A78;
		letter-spacing: 0.5px;
	}
	[data-theme='dark'] {
		--primary-color:#F3FCF1;
		--secondary-color:#03343C;
		--primary-bg-color:#011A1E;
		--secondary-bg-color:#012126;
		--third-color:#BBEFD0;
		--card-color:#136A78;
	}
	html {
		font-family: 'Manrope', sans-serif;
		background: #13151a;
	}
	body {
		margin: 0;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
